* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media screen and (max-width: 767px) { /*movil*/
  body .navbar { /*navbar*/
    width: 100%;
    padding: 0px;
    position: fixed;
    z-index: 100;
  }
  body .navbar .container-fluid .navbar-brand {
    margin: 10px 0px 0px 15px;
    padding: 0px;
  }
  body .navbar .container-fluid .navbar-toggler {
    background-color: white;
    margin: 10px 15px 0px;
    border: none;
  }
  body .navbar .container-fluid .navbar-nav {
    width: 100%;
    height: 100%;
    background-color: #0000FF;
    color: white;
    padding: 0px 0px 0px 15px;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 500;
  }
  body .navbar .gradient2 {
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom left, #0000FF 50%, white 50%);
  }
  body .info .logo {
    margin: 150px 0px 50px 12px;
  }
  body .info h1 {
    width: 100%;
    margin: 0px 0px 40px 30px;
    padding: 10px 0px;
    font-size: 5.5em;
    text-align: left;
  }
  body .info .presentacion {
    margin: 0px 0px 30px 30px;
    padding: 0px 30px 0px 0px;
    font-size: 1.5em;
    line-height: 2;
  }
  body .info a {
    margin: 0px 0px 0px 30px;
  }
  body .info .gradient1 {
    margin: 120px 0px 0px 0px;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top right, #0000FF 50%, white 50%);
  }
  body .info .avisoConstruccion {
    margin: auto;
    padding: 30px;
    font-size: 2em;
    line-height: 2;
  }
  body .info .container {
    margin: 100px 0px 20px;
  }
  body .info .container .encabezado {
    text-align: left;
  }
  body .info .container .form-group .btn-primary {
    width: 250px;
  }
  .gradient1 {
    margin: 20px 0px 0px 0px;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top right, #0000FF 50%, white 50%);
  }
  .footer {
    display: flex;
    justify-content: space-around;
    background-color: #0000ff;
    color: white;
    height: 70px;
    padding: 10px 0px 0px;
  }
  .footer .tituloFooter {
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) { /*tablet*/ }
@media screen and (min-width: 1200px) { /*laptop*/
  body .cuerpo .titulo {
    display: flex;
    justify-content: center;
    margin: 100px 0px 70px;
    font-size: 5.5em;
    text-align: center;
    padding: 10px;
  }
  body .cuerpo .gradient1 {
    width: 100%;
    height: 200px;
    background: linear-gradient(to top right, #0000FF 50%, white 50%);
  }
  body .cuerpo .gradient2 {
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom left, #0000FF 50%, white 50%);
  }
  body .cuerpo p {
    background-color: #0000ff;
    color: white;
    width: 600px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: auto;
    padding: 15px;
    font-size: 1.5em;
    line-height: 2;
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body a:link, body a:visited, body a:active {
  text-decoration: none;
}
body .navbar {
  background-color: #0000ff;
}
body .navbar .container-fluid {
  height: 100%;
}
body .navbar .container-fluid .navbar-brand {
  color: white;
  font-weight: 700;
}
body .info .logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
body .info h1 {
  text-transform: uppercase;
  font-family: "Paytone One", sans-serif;
}
body .info h1 .colorTitulo {
  color: #0000ff;
}
body .info .presentacion {
  width: 100%;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
body .info a {
  background-color: black;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3em;
}
body .info a:hover {
  background-color: #0000ff;
  color: white;
}
body .info .avisoConstruccion {
  background-color: #0000ff;
  color: white;
  width: 100%;
  text-transform: uppercase;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
body .info .container {
  display: flex;
  justify-content: center;
}
body .info .container .encabezado {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  color: #0000ff;
}
body .info .container .btn-primary {
  background-color: #0000ff;
  color: white;
  font-weight: 700;
  border: none;
}
body .info .container .form-group {
  padding: 15px 0px;
}
body .footer {
  display: flex;
  justify-content: space-around;
  background-color: #0000ff;
  color: white;
  height: 70px;
}
body .wasap {
  position: fixed;
  bottom: 15px;
  right: 15px;
}