@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media screen and (max-width: 424px) { /*movil*/
  body .navbar {
    padding: 20px 0px 25px;
    font-size: 0.5rem;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
  }
  body .navbar .navbar-brand {
    width: 140px;
    margin-left: 27px;
  }
  body .navbar .navbar-toggler {
    background-color: #0000FF;
    margin: -10px 15px 0px 0px;
  }
  body .navbar .navbar-nav {
    font-size: 1rem;
    padding: 10px 0px 20px 27px;
  }
  body .navbar .navbar-nav .nav-item {
    padding: 15px 0px 0px;
  }
  body .navbar .navbar-nav img {
    width: 20px;
  }
  body .navbar .navbar-link {
    padding: 0px;
  }
  body .info {
    overflow: hidden;
  }
  body .info .presentacionPancito {
    margin-top: 50px;
    padding-bottom: 60px;
  }
  body .info .presentacionPancito .logo {
    display: flex;
    justify-content: left;
    margin: 110px 40px 20px 30px;
  }
  body .info .presentacionPancito h1 {
    width: 100%;
    margin: 0px 0px 20px 40px;
    padding: 10px 0px;
    font-size: 5.5em;
    text-align: left;
  }
  body .info .presentacionPancito .presentacion {
    width: 300px;
    margin: 0px 0px 50px 40px;
    padding: 0px;
    font-size: 1.9em;
    line-height: 2;
  }
  body .info .presentacionPancito .escribinos {
    margin: 0px 0px 0px 40px;
    padding: 15px;
  }
  body .info .informacionPancito {
    margin-top: 100px;
  }
  body .info .informacionPancito .avisoConstruccion {
    height: 600px;
    padding: 60px 40px 60px;
    text-align: left;
    font-size: 2em;
    line-height: 2;
  }
  body .info .informacionPancito .avisoConstruccion .salto-linea {
    display: block;
  }
  body .info .informacionPancito .container {
    width: 300px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    margin: 50px 0px 10px 40px;
  }
  body .info .informacionPancito .container .encabezado {
    text-align: left;
    font-size: 2em;
  }
  body .info .informacionPancito .container .form-group {
    width: 300px;
    border: 1px solid #0000FF;
  }
  body .info .informacionPancito .container .btn {
    margin: 25px 0px 30px;
    padding: 15px;
  }
  .relleno {
    background-color: #0000ff;
    height: 250px;
    margin-top: -170px;
  }
  .footer {
    height: 180px;
    padding: 30px 0px 0px 40px;
  }
  .footer .saltoLinea {
    display: block;
    padding-top: 15px 0px;
  }
  .footer .tituloFooter {
    font-size: 1.5em;
  }
  .footer p {
    margin-bottom: 5px;
  }
  .footer .tituloFooter {
    font-weight: 500;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) { /*tablet*/
  body .navbar {
    padding: 20px 0px 25px;
    font-size: 0.5rem;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
  }
  body .navbar .navbar-brand {
    width: 140px;
    margin-left: 27px;
  }
  body .navbar .navbar-toggler {
    background-color: #0000FF;
    margin: -10px 15px 0px 0px;
  }
  body .navbar .navbar-nav {
    font-size: 1rem;
    padding: 10px 0px 20px 27px;
  }
  body .navbar .navbar-nav .nav-item {
    padding: 15px 0px 0px;
  }
  body .navbar .navbar-nav img {
    width: 20px;
  }
  body .navbar .navbar-link {
    padding: 0px;
  }
  body .info {
    overflow: hidden;
  }
  body .info .presentacionPancito {
    margin-top: 50px;
    padding-bottom: 60px;
  }
  body .info .presentacionPancito .logo {
    width: 300px;
    display: flex;
    justify-content: left;
    margin: 110px 40px 20px 30px;
  }
  body .info .presentacionPancito h1 {
    width: 300px;
    margin: 0px 0px 20px 40px;
    padding: 10px 0px;
    font-size: 5.5em;
    text-align: left;
  }
  body .info .presentacionPancito .presentacion {
    width: 300px;
    margin: 0px 0px 50px 40px;
    padding: 0px;
    font-size: 1.9em;
    line-height: 2;
  }
  body .info .presentacionPancito .escribinos {
    margin: 0px 0px 0px 40px;
    padding: 15px;
  }
  body .info .informacionPancito {
    margin-top: 100px;
  }
  body .info .informacionPancito .avisoConstruccion {
    height: 600px;
    padding: 60px 40px 60px;
    text-align: left;
    font-size: 2em;
    line-height: 2;
  }
  body .info .informacionPancito .avisoConstruccion .salto-linea {
    display: block;
  }
  body .info .informacionPancito .container {
    width: 300px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    margin: 50px 0px 10px 40px;
  }
  body .info .informacionPancito .container .encabezado {
    text-align: left;
    font-size: 2em;
  }
  body .info .informacionPancito .container .form-group {
    width: 300px;
    border: 1px solid #0000FF;
  }
  body .info .informacionPancito .container .btn {
    margin: 25px 0px 30px;
    padding: 15px;
  }
  .relleno {
    background-color: #0000ff;
    height: 250px;
    margin-top: -170px;
  }
  .footer {
    height: 180px;
    padding: 30px 0px 0px 40px;
  }
  .footer .saltoLinea {
    display: block;
    padding-top: 15px 0px;
  }
  .footer .tituloFooter {
    font-size: 1.5em;
  }
  .footer p {
    margin-bottom: 5px;
  }
  .footer .tituloFooter {
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) { /*laptop*/
  body .navbar {
    padding: 20px 0px 0px;
    font-size: 0.5rem;
    position: fixed;
    z-index: 100;
  }
  body .navbar .navbar-brand {
    width: 140px;
    margin-left: 50px;
  }
  body .navbar .navbar-toggler {
    background-color: #0000FF;
    margin: -10px 15px 0px 0px;
  }
  body .navbar .navbar-nav {
    align-items: center;
    font-size: 1rem;
    padding: 10px 0px 20px 300px;
  }
  body .navbar .navbar-nav .nav-item {
    padding: 15px 0px 0px;
  }
  body .navbar .navbar-nav img {
    margin-bottom: 0px;
    width: 20px;
  }
  body .navbar .navbar-link {
    padding: 0px;
  }
  body .info {
    overflow: hidden;
  }
  body .info .presentacionPancito {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 0px;
  }
  body .info .presentacionPancito .logo {
    width: 300px;
    margin: 110px 20px 20px 90px;
  }
  body .info .presentacionPancito h1 {
    width: 300px;
    margin: 250px 0px 20px 40px;
    padding: 10px 0px;
    font-size: 5.5em;
    text-align: left;
  }
  body .info .presentacionPancito .presentacion {
    width: 300px;
    margin: 0px 0px 50px 80px;
    padding: 0px;
    font-size: 1.9em;
    line-height: 2;
  }
  body .info .presentacionPancito .escribinos {
    height: 50px;
    margin: 10px 160px 0px 0px;
    padding: 15px;
  }
  body .info .informacionPancito {
    margin-top: 100px;
    display: block;
  }
  body .info .informacionPancito .avisoConstruccion {
    width: 550px;
    height: 400px;
    margin: auto;
    padding: 60px 40px 60px;
    text-align: center;
    font-size: 2em;
    line-height: 2;
  }
  body .info .informacionPancito .avisoConstruccion .salto-linea {
    display: block;
  }
  body .info .informacionPancito .container {
    width: 300px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    margin: auto;
  }
  body .info .informacionPancito .container .encabezado {
    text-align: center;
    font-size: 2em;
  }
  body .info .informacionPancito .container .form-group {
    width: 300px;
    border: 1px solid #0000FF;
  }
  body .info .informacionPancito .container .btn {
    margin: 25px 0px 30px;
    padding: 15px;
  }
  .relleno {
    background-color: #0000ff;
    height: 250px;
    margin-top: -170px;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    height: 120px;
    padding: 30px 0px 0px 40px;
  }
  .footer .saltoLinea {
    display: block;
    padding-top: 15px 0px;
  }
  .footer .tituloFooter {
    font-size: 1.5em;
  }
  .footer p {
    margin-bottom: 5px;
  }
  .footer .tituloFooter {
    font-weight: 500;
  }
}
@media screen and (min-width: 1025px) {
  body .navbar {
    padding: 20px 0px 0px;
    font-size: 0.5rem;
    position: fixed;
    z-index: 100;
  }
  body .navbar .navbar-brand {
    width: 140px;
    margin-left: 100px;
  }
  body .navbar .navbar-toggler {
    background-color: #0000FF;
    margin: -10px 15px 0px 0px;
  }
  body .navbar .navbar-collapse {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
  }
  body .navbar .navbar-nav {
    align-items: center;
    font-size: 1rem;
    padding: 10px 0px 20px 300px;
  }
  body .navbar .navbar-nav .nav-item {
    padding: 15px 0px 0px;
  }
  body .navbar .navbar-nav img {
    margin-bottom: 0px;
    width: 20px;
  }
  body .navbar .navbar-link {
    padding: 0px;
  }
  body .info {
    overflow: hidden;
  }
  body .info .presentacionPancito {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 0px;
  }
  body .info .presentacionPancito .logo {
    width: 350px;
    margin: 130px 20px 0px 200px;
  }
  body .info .presentacionPancito h1 {
    width: 300px;
    margin: 300px 300px 0px 0px;
    padding: 10px 0px;
    font-size: 6.5em;
    text-align: left;
  }
  body .info .presentacionPancito .presentacion {
    width: 300px;
    margin: 0px 0px 50px 180px;
    padding: 0px;
    font-size: 1.9em;
    line-height: 2;
  }
  body .info .presentacionPancito .escribinos {
    height: 50px;
    margin: 10px 430px 0px 0px;
    padding: 15px;
  }
  body .info .informacionPancito {
    margin-top: 100px;
    display: block;
  }
  body .info .informacionPancito .avisoConstruccion {
    width: 550px;
    height: 400px;
    margin: auto;
    padding: 60px 40px 60px;
    text-align: center;
    font-size: 2em;
    line-height: 2;
  }
  body .info .informacionPancito .avisoConstruccion .salto-linea {
    display: block;
  }
  body .info .informacionPancito .container {
    width: 300px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    margin: auto;
  }
  body .info .informacionPancito .container .encabezado {
    text-align: center;
    font-size: 2em;
  }
  body .info .informacionPancito .container .form-group {
    width: 300px;
    border: 1px solid #0000FF;
  }
  body .info .informacionPancito .container .btn {
    margin: 25px 0px 30px;
    padding: 15px;
  }
  .relleno {
    background-color: #0000ff;
    height: 250px;
    margin-top: -170px;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    height: 120px;
    padding: 30px 0px 0px 40px;
  }
  .footer .saltoLinea {
    display: block;
    padding-top: 15px 0px;
  }
  .footer .tituloFooter {
    font-size: 1.5em;
  }
  .footer p {
    margin-bottom: 5px;
  }
  .footer .tituloFooter {
    font-weight: 500;
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body a:link, body a:visited, body a:active {
  text-decoration: none;
}
body .navbar { /*navbar*/
  width: 100%;
  background-color: #0000ff;
}
body .navbar .navbar-brand {
  font-weight: 700;
}
body .navbar .navbar-nav {
  text-transform: uppercase;
}
body .navbar .navbar-nav .nav-link {
  width: 100%;
  color: #ffffff;
  font-weight: 700;
}
body .info {
  display: block;
}
body .info .presentacionPancito h1 {
  height: 100%;
  text-transform: uppercase;
  font-family: "Paytone One", sans-serif;
}
body .info .presentacionPancito h1 .colorTitulo {
  color: #0000ff;
}
body .info .presentacionPancito .presentacion {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
body .info .presentacionPancito a {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3em;
}
body .info .presentacionPancito a:hover {
  background-color: #0000ff;
  color: white;
}
body .info .informacionPancito {
  background-color: #0000ff;
  transform: skewY(-10deg);
  overflow: hidden;
}
body .info .informacionPancito .avisoConstruccion {
  transform-origin: 0 0;
  transform: skewY(10deg);
  color: white;
  font-family: "Roboto", sans-serif;
}
body .info .informacionPancito .avisoConstruccion .avisoTamaño {
  font-size: 1.4em;
  font-weight: 700;
}
body .info .informacionPancito .container {
  transform: skewY(10deg);
}
body .info .informacionPancito .container .encabezado {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
body .info .informacionPancito .container .tituloFormulario {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
}
body .info .informacionPancito .container .btn {
  background-color: #000000;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3em;
  border-style: none;
  border-radius: 0%;
}
body .info .informacionPancito .container .btn:hover {
  background-color: #0000ff;
  color: #ffffff;
}
body .info .informacionPancito .container .form-group {
  padding: 15px 0px 0px;
}
body .info .informacionPancito .container .form-group .form-control {
  border: 2px solid #0000ff;
  letter-spacing: 0.2em;
}
body .info .informacionPancito .container .form-group .form-control:hover {
  border: 2px solid #0000ff;
}
body .info .informacionPancito .container .form-group .msj {
  height: 115px;
}
body .swal-title {
  font-family: "Roboto", sans-serif;
  color: #0000ff;
  font-weight: 700;
}
body .swal-text {
  width: 100%;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
body .swal-button-container {
  display: flex;
  justify-content: center;
}
body .swal-button {
  background-color: #0000ff;
  color: #ffffff;
  font-weight: 700;
}
body .footer {
  background-color: #ffffff;
  color: #0000ff;
}
body .wasap {
  position: fixed;
  bottom: 15px;
  right: 15px;
}