@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media screen and (min-width: 1024px) {
  .mainHeader {
    padding: 0 100px;
  }
  .mainHeader .logo {
    font-size: 1.7em;
  }
  .mainHeader ul li {
    font-size: 1.3em;
  }
  .hamburger {
    display: none;
  }
  .mainHeader .navbar-desktop {
    max-width: 1100px;
  }
  .info .seccion1 {
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 1024px;
    margin: 70px auto;
    padding-top: 150px;
  }
  .info .seccion1 .logo {
    width: 400px;
  }
  .info .seccion1 .logo img {
    width: 100%;
  }
  .info .seccion1 .titulo h1 {
    font-size: 9em;
  }
  .info .seccion1 .titulo h1 .saltoLinea {
    padding: 10px 0px;
    display: block;
  }
  .info .seccion2 {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    max-width: 1100px;
    height: 100%;
    padding: 60px 100px 25px 100px;
  }
  .info .seccion2 .presentacion {
    height: 100%;
  }
  .info .seccion2 .presentacion p {
    font-size: 2.5em;
    letter-spacing: 0.03em;
    line-height: 1.8em;
    text-align: justify;
  }
  .info .seccion2 .escribinos {
    margin-top: 20px;
  }
  .info .seccion3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 130px;
  }
  .info .seccion3 .avisoConstruccion {
    width: 100%;
    height: 700px;
    padding: 100px 100px 0px 100px;
  }
  .info .seccion3 .avisoConstruccion p {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 600px;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    line-height: 2;
  }
  .info .seccion3 .avisoConstruccion p .salto-linea {
    display: block;
  }
  .info .seccion3 .avisoConstruccion p .avisoTamaño {
    font-size: 1.9em;
    font-weight: 700;
  }
  .info .seccion3 .formulario {
    width: 500px;
    margin-top: 100px;
    padding: 0px 25px 25px 25px;
  }
  .info .seccion3 .formulario .formDetalle .encabezado {
    font-size: 2.5em;
  }
  .info .seccion3 .formulario .formDetalle .form-group input {
    width: 400px;
  }
  .info .seccion3 .formulario .formDetalle .form-group .msj {
    height: 115px;
    width: 400px;
  }
  .info .seccion3 .formulario .formDetalle button {
    margin: 25px 0px 30px;
    padding: 15px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 30px 100px 0px 100px;
  }
  .footer .saltoLinea {
    display: block;
    padding-top: 15px 0px;
  }
  .footer .tituloFooter {
    font-size: 1.6em;
    font-weight: 700;
  }
  .footer p {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  .footer .footerDireccion {
    text-align: right;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mainHeader {
    padding: 0 50px;
  }
  .mainHeader .logo {
    font-size: 1.6em;
  }
  .mainHeader ul li {
    font-size: 1em;
  }
  .hamburger {
    display: none;
  }
  .info .seccion1 {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    width: 100%;
    padding: 150px 40px 0px 50px;
  }
  .info .seccion1 .logo img {
    width: 100%;
  }
  .info .seccion1 .titulo {
    height: 100%;
  }
  .info .seccion1 .titulo h1 {
    width: 100%;
    font-size: 5.5em;
    padding: 0px 5px;
  }
  .info .seccion1 .titulo h1 .saltoLinea {
    padding: 10px 0px;
    display: block;
  }
  .info .seccion2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 60px 100px 25px 100px;
  }
  .info .seccion2 .presentacion {
    height: 100%;
  }
  .info .seccion2 .presentacion p {
    font-size: 1.8em;
    line-height: 1.8em;
  }
  .info .seccion2 .escribinos {
    margin-top: 20px;
  }
  .info .seccion3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 100px;
  }
  .info .seccion3 .avisoConstruccion {
    width: 100%;
    height: 600px;
    padding: 100px 100px 0px 100px;
  }
  .info .seccion3 .avisoConstruccion p {
    text-align: center;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 2;
  }
  .info .seccion3 .avisoConstruccion p .salto-linea {
    display: block;
  }
  .info .seccion3 .avisoConstruccion p .avisoTamaño {
    font-size: 1.9em;
    font-weight: 700;
  }
  .info .seccion3 .formulario {
    width: 100%;
    margin-top: 100px;
    padding: 0px 25px 25px 100px;
  }
  .info .seccion3 .formulario .formDetalle .encabezado {
    font-size: 2.5em;
  }
  .info .seccion3 .formulario .formDetalle .form-group input {
    width: 400px;
  }
  .info .seccion3 .formulario .formDetalle .form-group .msj {
    height: 115px;
    width: 400px;
  }
  .info .seccion3 .formulario .formDetalle button {
    margin: 25px 0px 30px;
    padding: 15px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 30px 50px 0px 50px;
  }
  .footer .saltoLinea {
    display: block;
    padding-top: 15px 0px;
  }
  .footer .tituloFooter {
    font-size: 1.5em;
  }
  .footer p {
    margin-bottom: 5px;
  }
  .footer .tituloFooter {
    font-weight: 500;
  }
  .footer .footerDireccion {
    text-align: right;
  }
}
@media screen and (max-width: 767px) {
  .mainHeader {
    padding: 0 50px;
  }
  .mainHeader .logo {
    font-size: 1.3em;
  }
  .mainHeader .navbar-desktop {
    display: none;
  }
  .info .seccion1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 150px 20px 0px 20px;
  }
  .info .seccion1 .titulo {
    width: 100%;
    height: 100%;
    padding-top: 40px;
  }
  .info .seccion1 .titulo h1 {
    font-size: 5em;
    padding: 0px 5px;
  }
  .info .seccion1 .titulo h1 .saltoLinea {
    padding: 10px 0px;
    display: block;
  }
  .info .seccion2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 50px 25px 25px;
  }
  .info .seccion2 .presentacion {
    height: 300px;
  }
  .info .seccion2 .presentacion p {
    font-size: 1.8em;
    line-height: 1.8em;
  }
  .info .seccion2 .escribinos {
    margin-top: auto;
  }
  .info .seccion3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
  }
  .info .seccion3 .avisoConstruccion {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info .seccion3 .avisoConstruccion p {
    padding: 0px 25px 25px 25px;
    text-align: center;
    font-size: 1.7em;
    font-weight: 400;
    line-height: 2;
  }
  .info .seccion3 .avisoConstruccion p .salto-linea {
    display: block;
  }
  .info .seccion3 .formulario {
    width: 100%;
    margin-top: 100px;
    padding: 0px 50px 25px 25px;
  }
  .info .seccion3 .formulario .formDetalle .encabezado {
    font-size: 2.5em;
  }
  .info .seccion3 .formulario .formDetalle .form-group input {
    width: 270px;
  }
  .info .seccion3 .formulario .formDetalle .form-group .msj {
    width: 270px;
    height: 115px;
  }
  .info .seccion3 .formulario .formDetalle button {
    margin: 25px 0px 30px;
    padding: 15px;
  }
  .footer {
    height: 180px;
    padding: 30px 0px 0px 25px;
  }
  .footer .saltoLinea {
    display: block;
    padding-top: 15px 0px;
  }
  .footer .tituloFooter {
    font-size: 1.5em;
  }
  .footer p {
    margin-bottom: 5px;
  }
  .footer .tituloFooter {
    font-weight: 500;
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  /*Menu*/
  /*Main*/
}
body a:link, body a:visited, body a:active {
  text-decoration: none;
}
body .mobileMainMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 300px;
  background-color: #0000ff;
  z-index: 2;
  display: flex;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
body .mobileMainMenu ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 100px 0px 20px 40px;
  width: 100%;
}
body .mobileMainMenu ul li {
  margin-bottom: 20px;
  font-size: 1.3em;
  font-weight: 700;
}
body .mobileMainMenu ul li a {
  color: #ffffff;
}
body .showMenu {
  transform: translateY(0%);
}
body .mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: #0000ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
body .mainHeader .logo {
  width: 140px;
  font-weight: 700;
}
body .mainHeader .logo .imgLogo {
  color: #ffffff;
}
body .mainHeader ul {
  display: flex;
}
body .mainHeader ul li {
  letter-spacing: 0.1em;
  position: relative;
  margin-left: 40px;
}
body .mainHeader ul li a {
  color: #ffffff;
}
body .mainHeader ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  color: red;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}
body .mainHeader ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}
body .hamburger {
  position: fixed;
  top: 40px;
  right: 30px;
  z-index: 10;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}
body .hamburger .hamburgerTop, body .hamburger .hamburgerMiddle, body .hamburger .hamburgerBottom {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: white;
  transition: all 0.5s;
}
body .hamburger .hamburgerMiddle {
  transform: translateY(5px);
}
body .hamburger .hamburgerBottom {
  transform: translateY(10px);
}
body .open {
  transform: rotate(90deg);
}
body .open .hamburgerTop {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
body .open .hamburgerMiddle {
  display: none;
}
body .open .hamburgerBottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
body .info .seccion1 .titulo h1 {
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
}
body .info .seccion1 .titulo h1 .colorTitulo {
  color: #0000ff;
}
body .info .seccion2 .presentacion {
  font-family: "Roboto", sans-serif;
}
body .info .seccion2 .escribinos button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 0.3em;
}
body .info .seccion2 .escribinos button:hover {
  background-color: #0000ff;
  color: #ffffff;
}
body .info .seccion2 .escribinos button a {
  color: #ffffff;
}
body .info .seccion3 .avisoConstruccion {
  background-color: #0000ff;
  transform: skewY(-10deg);
}
body .info .seccion3 .avisoConstruccion p {
  transform-origin: 0 0;
  transform: skewY(10deg);
  color: #ffffff;
}
body .info .seccion3 .formulario .formDetalle .encabezado {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #0000ff;
}
body .info .seccion3 .formulario .form-group {
  padding-top: 15px;
}
body .info .seccion3 .formulario .form-group .form-control {
  border: 2px solid #0000ff;
  letter-spacing: 0.2em;
  box-shadow: none;
}
body .info .seccion3 .formulario .form-group .form-control:hover {
  border: 2px solid #0000ff;
}
body .info .seccion3 .formulario .tituloFormulario {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}
body .info .seccion3 .formulario button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 0.3em;
}
body .info .seccion3 .formulario button:hover {
  background-color: #0000ff;
  color: #ffffff;
}
body .swal-title {
  font-family: "Roboto", sans-serif;
  color: #0000ff;
  font-weight: 700;
}
body .swal-text {
  width: 100%;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
body .swal-button-container {
  display: flex;
  justify-content: center;
}
body .swal-button {
  background-color: #0000ff;
  color: #ffffff;
  font-weight: 700;
}
body .footer {
  background-color: #0000ff;
  color: #ffffff;
}
body .wasap {
  position: fixed;
  bottom: 15px;
  right: 15px;
}