
@media screen and (max-width: 424px){ /*movil*/
    body {
        .navbar {
            padding: 20px 0px 25px;
            font-size: 0.5rem;
            position: fixed;
            z-index: 100;
            display: flex;
            justify-content: space-between;
            .navbar-brand {
                 width: 140px;
                 margin-left: 27px;            
            }
             .navbar-toggler {
                 background-color: #0000FF;
                 margin: -10px 15px 0px 0px;
            }
            .navbar-nav {
                 font-size: 1rem;
                 padding: 10px 0px 20px 27px;
                 .nav-item {
                    padding: 15px 0px 0px;
                }
                img {
                    
                    width: 20px;
                }
            }
             .navbar-link {
                 padding: 0px;
            }
        }
        .info {
            overflow: hidden;
            .presentacionPancito {
                margin-top: 50px;
                padding-bottom: 60px;   
                .logo {
                    display: flex;
                    justify-content:left;                    
                    margin: 110px 40px 20px 30px;
                }
                h1 {                    
                    width: 100%;
                    margin: 0px 0px 20px 40px;
                    padding: 10px 0px;
                    font-size: 5.5em;
                    text-align: left;
                    }
                .presentacion {
                    width: 300px;
                    margin: 0px 0px 50px 40px;
                    padding: 0px;
                    font-size: 1.9em;
                    line-height: 2;
                } 
                .escribinos {
                    margin: 0px 0px 0px 40px;
                    padding: 15px;
                }
            }
            .informacionPancito {
                margin-top: 100px;
                .avisoConstruccion {                    
                    height: 600px;
                    padding: 60px 40px 60px;
                    text-align: left;
                    font-size: 2em;
                    line-height: 2;
                    .salto-linea {
                        display: block;
                    }
                }
                .container {
                    width: 300px;
                    padding: 0px;
                    display: flex;
                    justify-content: flex-start;
                    margin: 50px 0px 10px 40px;
                    .encabezado {
                        text-align: left;
                        font-size: 2em;
                    }
                    .form-group {
                        width: 300px;
                        border: 1px solid #0000FF;
                    }
                    .btn {
                        margin: 25px 0px 30px;
                        padding: 15px;
                    }
                }
            }
        }    
    } 
    .relleno {
        background-color: #0000ff;
        height: 250px;
        margin-top: -170px;
    }
    .footer {
        height: 180px;
        padding: 30px 0px 0px 40px;
        .saltoLinea {
            display: block;
            padding-top: 15px 0px;
        }
        .tituloFooter {
            font-size: 1.5em;
        }
        p {
            margin-bottom: 5px;
        }
        .tituloFooter {
            font-weight: 500;
        }
        
    }
}   

@media screen and (min-width: 425px) and (max-width: 767px ) { /*tablet*/
    body {
        .navbar {
            padding: 20px 0px 25px;
            font-size: 0.5rem;
            position: fixed;
            z-index: 100;
            display: flex;
            justify-content: space-between;
            .navbar-brand {
                 width: 140px;
                 margin-left: 27px;            
            }
             .navbar-toggler {
                 background-color: #0000FF;
                 margin: -10px 15px 0px 0px;
            }
            .navbar-nav {
                 font-size: 1rem;
                 padding: 10px 0px 20px 27px;
                 .nav-item {
                    padding: 15px 0px 0px;
                }
                img {
                    
                    width: 20px;
                }
            }
             .navbar-link {
                 padding: 0px;
            }
        }
        .info {
            overflow: hidden;
            .presentacionPancito {
                margin-top: 50px;
                padding-bottom: 60px;   
                .logo {
                    width: 300px;
                    display: flex;
                    justify-content:left;                    
                    margin: 110px 40px 20px 30px;
                }
                h1 {                    
                    width: 300px;
                    margin: 0px 0px 20px 40px;
                    padding: 10px 0px;
                    font-size: 5.5em;
                    text-align: left;
                    }
                .presentacion {
                    width: 300px;
                    margin: 0px 0px 50px 40px;
                    padding: 0px;
                    font-size: 1.9em;
                    line-height: 2;
                } 
                .escribinos {
                    margin: 0px 0px 0px 40px;
                    padding: 15px;
                }
            }
            .informacionPancito {
                margin-top: 100px;
                .avisoConstruccion {
                    
                    height: 600px;
                    padding: 60px 40px 60px;
                    text-align: left;
                    font-size: 2em;
                    line-height: 2;
                    .salto-linea {
                        display: block;
                    }
                }
                .container {
                    width: 300px;
                    padding: 0px;
                    display: flex;
                    justify-content: flex-start;
                    margin: 50px 0px 10px 40px;
                    .encabezado {
                        text-align: left;
                        font-size: 2em;
                    }
                    .form-group {
                        width: 300px;
                        border: 1px solid #0000FF;
                    }
                    .btn {
                        margin: 25px 0px 30px;
                        padding: 15px;
                    }
                }
            }
        }    
    } 
    .relleno {
        background-color: #0000ff;
        height: 250px;
        margin-top: -170px;
    }
    .footer {
        height: 180px;
        padding: 30px 0px 0px 40px;
        .saltoLinea {
            display: block;
            padding-top: 15px 0px;
        }
        .tituloFooter {
            font-size: 1.5em;
        }
        p {
            margin-bottom: 5px;
        }
        .tituloFooter {
            font-weight: 500;
        }
        
    }
}   

@media screen and (min-width: 768px) and (max-width: 1024px ) { /*laptop*/
    body {
        .navbar {
            padding: 20px 0px 0px;
            font-size: 0.5rem;
            position: fixed;
            z-index: 100;           
            .navbar-brand {
                 width: 140px;
                 margin-left: 50px;            
            }
             .navbar-toggler {
                 background-color: #0000FF;
                 margin: -10px 15px 0px 0px;
            }
            .navbar-nav {
                align-items: center;
                 font-size: 1rem;
                 padding: 10px 0px 20px 300px;
                 .nav-item {                    
                    padding: 15px 0px 0px;
                }
                img {
                    margin-bottom: 0px;
                    width: 20px;
                }
            }
             .navbar-link {
                 padding: 0px;
            }
        }
        .info {
            overflow: hidden;
            .presentacionPancito {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin-top: 50px;
                padding-bottom: 0px;   
                .logo {
                    width: 300px;                    
                    margin: 110px 20px 20px 90px;
                }
                h1 {                    
                    width: 300px;
                    margin: 250px 0px 20px 40px;
                    padding: 10px 0px;
                    font-size: 5.5em;
                    text-align: left;
                    }
                .presentacion {
                    width: 300px;
                    margin: 0px 0px 50px 80px;
                    padding: 0px;
                    font-size: 1.9em;
                    line-height: 2;
                } 
                .escribinos {
                    height: 50px;
                    margin: 10px 160px 0px 0px;
                    padding: 15px;
                }
            }
            .informacionPancito {
                margin-top: 100px;
                display: block;
                .avisoConstruccion {                    
                    width: 550px;
                    height: 400px;
                    margin:  auto;
                    padding: 60px 40px 60px;
                    text-align: center;
                    font-size: 2em;
                    line-height: 2;
                    .salto-linea {
                        display: block;
                    }
                }
                .container {
                    width: 300px;
                    padding: 0px;
                    display: flex;
                    justify-content: flex-start;
                    margin: auto;
                    .encabezado {
                        text-align: center;
                        font-size: 2em;
                    }
                    .form-group {
                        width: 300px;
                        border: 1px solid #0000FF;
                    }
                    .btn {
                        margin: 25px 0px 30px;
                        padding: 15px;
                    }
                }
            }
        }    
    } 
    .relleno {
        background-color: #0000ff;
        height: 250px;
        margin-top: -170px;
    }
    .footer {
        display: flex;
        justify-content: space-around;
        height: 120px;
        padding: 30px 0px 0px 40px;
        .saltoLinea {
            display: block;
            padding-top: 15px 0px;
        }
        .tituloFooter {
            font-size: 1.5em;
        }
        p {
            margin-bottom: 5px;
        }
        .tituloFooter {
            font-weight: 500;
        }
        
    }
}   
@media screen and (min-width: 1025px){
    body {
        .navbar {
            padding: 20px 0px 0px;
            font-size: 0.5rem;
            position: fixed;
            z-index: 100;           
            .navbar-brand {
                 width: 140px;
                 margin-left: 100px;            
            }
             .navbar-toggler {
                 background-color: #0000FF;
                 margin: -10px 15px 0px 0px;
            }
            .navbar-collapse {
                display: flex;
                justify-content: flex-end;
                margin-right: 100px;
            }
            .navbar-nav {
                align-items: center;
                font-size: 1rem;
                padding: 10px 0px 20px 300px;
                 .nav-item {                    
                    padding: 15px 0px 0px;
                }
                img {
                    margin-bottom: 0px;
                    width: 20px;
                }
            }
             .navbar-link {
                 padding: 0px;
            }
        }
        .info {
            overflow: hidden;
            .presentacionPancito {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin-top: 50px;
                padding-bottom: 0px;   
                .logo {
                    width: 350px;                    
                    margin: 130px 20px 0px 200px;
                }
                h1 {                    
                    width: 300px;
                    margin: 300px 300px 0px 0px;
                    padding: 10px 0px;
                    font-size: 6.5em;
                    text-align: left;
                    }
                .presentacion {
                    width: 300px;
                    margin: 0px 0px 50px 180px;
                    padding: 0px;
                    font-size: 1.9em;
                    line-height: 2;
                } 
                .escribinos {
                    height: 50px;
                    margin: 10px 430px 0px 0px;
                    padding: 15px;
                }
            }
            .informacionPancito {
                margin-top: 100px;
                display: block;
                .avisoConstruccion {                    
                    width: 550px;
                    height: 400px;
                    margin:  auto;
                    padding: 60px 40px 60px;
                    text-align: center;
                    font-size: 2em;
                    line-height: 2;
                    .salto-linea {
                        display: block;
                    }
                }
                .container {
                    width: 300px;
                    padding: 0px;
                    display: flex;
                    justify-content: flex-start;
                    margin: auto;
                    .encabezado {
                        text-align: center;
                        font-size: 2em;
                    }
                    .form-group {
                        width: 300px;
                        border: 1px solid #0000FF;
                    }
                    .btn {
                        margin: 25px 0px 30px;
                        padding: 15px;
                    }
                }
            }
        }    
    } 
    .relleno {
        background-color: #0000ff;
        height: 250px;
        margin-top: -170px;
    }
    .footer {
        display: flex;
        justify-content: space-around;
        height: 120px;
        padding: 30px 0px 0px 40px;
        .saltoLinea {
            display: block;
            padding-top: 15px 0px;
        }
        .tituloFooter {
            font-size: 1.5em;
        }
        p {
            margin-bottom: 5px;
        }
        .tituloFooter {
            font-weight: 500;
        }
        
    }
}