
@media screen and (min-width: 1024px) {
    .mainHeader  {
        padding: 0 100px;
        .logo {
            font-size: 1.7em;
        }
        ul li {
            font-size: 1.3em;
        }
    } 
    .hamburger {
        display: none;
    }
    .mainHeader {
        .navbar-desktop {
            max-width: 1100px;
        }
    }
    .info {                
        .seccion1 {  
            display: flex;
            justify-content: space-around;
            align-items: end;
            width: 1024px;
            margin: 70px auto;            
            padding-top: 150px;
            .logo { 
                width: 400px;               
                img {
                    width: 100%;                    
                }                
            }      
            .titulo {
                    h1 {           
                        font-size: 9em;                      
                        .saltoLinea {
                            padding: 10px 0px;
                            display: block;
                        }
                    }
            }
        }    
        .seccion2 { 
            display: flex;
            flex-direction: column; 
            margin: 50px auto;       
            max-width: 1100px;
            height: 100%;
            padding: 60px 100px 25px 100px;       
            .presentacion { 
                height: 100%;
                p {                    
                    font-size: 2.5em;
                    letter-spacing: 0.03em;
                    line-height: 1.8em;
                    text-align: justify;
                }
            }             
            .escribinos { 
                margin-top: 20px;               
            } 
        } 
        .seccion3 {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            width: 100%;            
            padding-top: 130px;            
            .avisoConstruccion { 
                width: 100%;
                height: 700px; 
                padding: 100px 100px 0px 100px;
                p { 
                    display: flex;
                    flex-direction: column;
                    margin: 50px auto;
                    width: 600px;                                                     
                    text-align: center;
                    font-size: 2em;
                    font-weight: 400;
                    line-height: 2;
                    .salto-linea {
                        display: block;
                    }
                    .avisoTamaño {
                        font-size: 1.9em;
                        font-weight: 700;
                    }
                }
            }
            .formulario { 
                width: 500px;                 
                margin-top: 100px;
                padding: 0px 25px 25px 25px;
                .formDetalle {                    
                    .encabezado {
                        font-size: 2.5em;
                    }
                    .form-group {
                        input {
                            width: 400px;
                        } 
                        .msj {
                            height: 115px;
                            width: 400px;
                        }
                    }    
                    button {
                        margin: 25px 0px 30px;
                        padding: 15px;
                    }
                }
            }
        }    
    }
    .footer {
        display: flex;
        justify-content: space-between;
        height: 100px;
        padding: 30px 100px 0px 100px;
        .saltoLinea {
            display: block;
            padding-top: 15px 0px;
        }
        .tituloFooter {
            font-size: 1.6em;
            font-weight: 700;
        }
        p {
            font-size: 1.2em;
            margin-bottom: 5px;
        }
        .footerDireccion {
            text-align: right;
        }   
    } 
    
}

@media screen and  (min-width: 768px ) and (max-width: 1023px) {
    .mainHeader  {
        padding: 0 50px;
        .logo {
            font-size: 1.6em;
        }
        ul li {
            font-size: 1em;
        }
    } 
    .hamburger {
        display: none;
    }
    .info {                
        .seccion1 {  
            display: flex;
            justify-content: space-evenly;
            align-items: end;
            width: 100%;            
            padding: 150px 40px 0px 50px;
            .logo { 
                //padding-right: 75px;               
                img {
                    width: 100%;                    
                }                
            }      
            .titulo {                
                height: 100%;
                //padding: 0px 0px 0px 30px;
                    h1 { 
                        width: 100%;           
                        font-size: 5.5em;                      
                        padding: 0px 5px;
                        .saltoLinea {
                            padding: 10px 0px;
                            display: block;
                        }
                    }
            }
        }    
        .seccion2 { 
            display: flex;
            flex-direction: column; 
            width: 100%;
            height: 100%;
            padding: 60px 100px 25px 100px;       
            .presentacion { 
                height: 100%;
                p {                    
                    font-size: 1.8em;
                    line-height: 1.8em;
                }
            }             
            .escribinos { 
                margin-top: 20px;               
            } 
        } 
        .seccion3 {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            width: 100%;            
            padding-top: 100px;            
            .avisoConstruccion { 
                width: 100%;
                height: 600px; 
                padding: 100px 100px 0px 100px;
                p {                                                      
                    text-align: center;
                    font-size: 1.8em;
                    font-weight: 400;
                    line-height: 2;
                    .salto-linea {
                        display: block;
                    }
                    .avisoTamaño {
                        font-size: 1.9em;
                        font-weight: 700;
                    }
                }
            }              
            .formulario { 
                width: 100%;                 
                margin-top: 100px;
                padding: 0px 25px 25px 100px;
                .formDetalle {                    
                    .encabezado {
                        font-size: 2.5em;
                    }
                    .form-group { 
                        input {
                            width: 400px;
                        }
                        .msj {
                            height: 115px;
                            width: 400px;
                        }
                    }    
                    button {
                        margin: 25px 0px 30px;
                        padding: 15px;
                    }
                }
            }
        }      
    }
    .footer {
        display: flex;
        justify-content: space-between;
        height: 100px;
        padding: 30px 50px 0px 50px;
        .saltoLinea {
            display: block;
            padding-top: 15px 0px;
        }
        .tituloFooter {
            font-size: 1.5em;
        }
        p {
            margin-bottom: 5px;
        }
        .tituloFooter {
            font-weight: 500;
        }
        .footerDireccion {
            text-align: right;
        }
            
    } 
}
    
@media screen and (max-width:767px) {
    .mainHeader  {
        padding: 0 50px;
        .logo {
            font-size: 1.3em;
        }
        .navbar-desktop {
            display: none;
        }
    }    
    .info {                
        .seccion1 {  
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 150px 20px 0px 20px;      
            .titulo { 
                width: 100%;
                height: 100%;
                padding-top: 40px;
                    h1 {            
                        font-size: 5em;                      
                        padding: 0px 5px;
                        .saltoLinea {
                            padding: 10px 0px;
                            display: block;
                        }
                    }
            }
        }    
        .seccion2 { 
            display: flex;
            flex-direction: column; 
            width: 100%;
            padding: 0px 50px 25px 25px;       
            .presentacion { 
                height: 300px;
                p {                    
                    font-size: 1.8em;
                    line-height: 1.8em;
                }
            }             
            .escribinos { 
                margin-top: auto;               
            } 
        } 
        .seccion3 {
            display: flex;
            flex-direction: column;              
            width: 100%;            
            padding-top: 50px;            
            .avisoConstruccion { 
                width: 100%;
                height: 600px;                
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    padding: 0px 25px 25px 25px;                                    
                    text-align: center;
                    font-size: 1.7em;
                    font-weight: 400;
                    line-height: 2;
                    .salto-linea {
                        display: block;
                    }
                }
            }             
            .formulario { 
                width: 100%;                 
                margin-top: 100px;
                padding: 0px 50px 25px 25px;
                .formDetalle {                                        
                    .encabezado {
                        font-size: 2.5em;
                    }
                    .form-group {
                        input {
                            width: 270px;
                        } 
                        .msj {
                            width: 270px;
                            height: 115px;
                        }
                    }    
                    button {
                        margin: 25px 0px 30px;
                        padding: 15px;
                    }
                }
            }
        }      
    }
    .footer {
        height: 180px;
        padding: 30px 0px 0px 25px;
        .saltoLinea {
            display: block;
            padding-top: 15px 0px;
        }
        .tituloFooter {
            font-size: 1.5em;
        }
        p {
            margin-bottom: 5px;
        }
        .tituloFooter {
            font-weight: 500;
        }
            
    }    
}