
@media screen and (max-width: 767px){ /*movil*/
    body {
        .navbar {
            padding-top: 20px;
             font-size: 0.5rem;
             position: fixed;
             z-index: 100;
             display: flex;
             justify-content: space-between;
             .navbar-brand {
                 width: 140px;
                 margin-left: 27px;            
             }
             .navbar-toggler {
                 background-color: #0000FF;
                 margin: -10px 15px 0px 0px;
             }
             .navbar-nav {
                 font-size: 1rem;
                 padding: 10px 0px 20px 27px;
                 .nav-item {
                    padding: 15px 0px 0px;
                 }
                 img {
                    
                    width: 20px;
                }
             }
             .navbar-link {
                 padding: 0px;
             }
         }
        .info {
            .presentacionPancito {
                padding-bottom: 20px;   
                .logo {
                    display: flex;
                    justify-content:flex-start;                    
                    margin: 110px 30px 20px 20px;
                }
                h1 {
                    width: 100%;
                    margin: 0px 0px 40px 30px;
                    padding: 5px 0px;
                    font-size: 5.5em;
                    text-align: left;
                    }
                .presentacion {
                    width: 250px;
                    margin: 0px 0px 50px 30px;
                    padding: 0px;
                    font-size: 1.5em;
                    line-height: 2;
                } 
                .escribinos {
                    padding: 15px;
                }
                a {
                    width: 100%;
                    margin: 0px 0px 0px 30px;
                }
            }
            .informacionPancito {
                .gradient1 {
                    margin: 50px 0px 0px 0px;
                    width: 100%;
                    height: 60px;
                    background: linear-gradient(to top right, #0000FF 50%, #ffff 50%);
                }  
                .avisoConstruccion {
                    margin: auto;
                    height: 600px;
                    padding: 60px 30px 60px;
                    text-align: left;
                    font-size: 2em;
                    line-height: 2;
                    .salto-linea {
                        display: block;
                    }
                }
                .gradient2{
                    width: 100%;
                    height: 60px;
                    background: linear-gradient(to bottom left, #0000FF 50%, #ffff 50%);
                }
                .container {
                    padding: 0px;
                    display: flex;
                    justify-content: flex-start;
                    margin: 80px 0px 30px 30px;
                    .encabezado {
                        text-align: left;
                        font-size: 2em;
                    }
                    .form-group {
                        width: 250px;
                    }
                    .btn {
                        padding: 15px;
                    }
                }
            }
        }    
    } 
    .gradient1 {
        margin: 20px 0px 0px 0px;
        width: 100%;
        height: 50px;
        background: linear-gradient(to top right, #0000FF 50%, #ffff 50%);
    } 
    .footer {
        height: 180px;
        padding: 30px 0px 0px 30px;
        .saltoLinea {
            display: block;
            padding-top: 15px 0px;
        }
        .tituloFooter {
            font-size: 1.5em;
        }
        p {
            margin-bottom: 5px;
        }
        .tituloFooter {
            font-weight: 500;
        }
        
    }
}   

@media screen and (min-width: 768px) and (max-width: 1023px ) { /*tablet*/
    body {
        .navbar {
            padding: 20px 40px 0px;
            position: fixed;
            z-index: 100;
            display: flex;
            justify-content: space-between;
        }
        .navbar-brand {
            width: 200px;
            margin-left: 27px;            
        }
        .navbar-collapse {
            margin-left: 135px;
        }
        .navbar-nav {
            font-size: 1rem;           
            .nav-item {
                padding: 0px 15px;
                .nav-link {
                    width: 100%;
                    padding: 0px 0px;
                }
                .link-padding {
                    padding: 20px 0px 0px;
                }
            }
            img {
                width: 20px; 
                padding: 20px 0px;
            }
        }
        .navbar-link {
            padding: 0px 0px;
        }
        .info {
            .presentacionPancito {
                display: grid;   
                gap: 5px;
                grid-template-areas: 
                    "logo presentacion"
                    "logo presentacion"
                    "h1 a";
                    
                .logo {  
                    grid-area: logo;
                    width: 350px;                  
                    margin: 150px 20px 0px 20px;
                    img {
                        width: 350px;
                    }
                }
                h1 {
                    grid-area: h1;
                    margin: 30px 0px 20px 30px;                  
                    font-size: 7em;
                    line-height: 1;
                    text-align: left;
                    .saltoLinea {
                        display: block;
                        padding: 15px 0px;
                    }
                }
                .presentacion {
                    grid-area: presentacion;
                    width: 350px;
                    margin: 400px 0px 50px 15px;
                    padding: 0px 30px 0px 0px;
                    font-size: 2.5em;
                    line-height: 2;
                } 
                .escribinos {
                    grid-area: a;
                    width: 150px;
                    height: 50px;
                    padding: 15px 30px;
                    margin: 30px 0px 0px 15px;
                }
                
            }
            .informacionPancito {
                .gradient1 {
                    margin: 50px 0px 0px 0px;
                    padding: 0px;
                    width: 100%;
                    height: 50px;
                    background: linear-gradient(to top right, #0000FF 50%, #ffff 50%);
                }  
                .avisoConstruccion {
                    margin: 0px;
                    height: 300px;
                    padding: 60px 150px;
                    text-align: center;
                    font-size: 2em;
                    line-height: 2;
                }
                .gradient2{
                    width: 100%;
                    height: 50px;
                    background: linear-gradient(to bottom left, #0000FF 50%, #ffff 50%);
                }
                .container {
                    padding: 0px;
                    display: flex;
                    justify-content: flex-start;
                    margin: 80px 0px 20px 150px;
                    .encabezado {
                        text-align: left;
                        font-size: 2.5em;
                    }
                    .form-group {
                        width: 350px;
                    }
                    .btn {
                        padding: 15px;
                    }
                }

            }

        }    
    } 
    .gradient1 {
        margin: 20px 0px 0px 0px;
        width: 100%;
        height: 50px;
        background: linear-gradient(to top right, #0000FF 50%, #ffff 50%);
    } 
    .footer {
        display: flex;
        justify-content: space-between;
        height: 100px;
        padding: 10px 0px 0px;
        p {
            margin-bottom: 5px;
        }
        .tituloFooter {
            font-weight: 500;
        }
        
    }
}    

@media screen and (min-width: 1024px) { /*laptop*/
    body {
        .navbar {
            padding: 20px 40px 15px;
            position: fixed;
            z-index: 100;
            display: flex;
            justify-content: flex-end;
        }
        .navbar-brand {
            width: 200px;
            margin-left: 60px;            
        }
        .navbar-collapse {
            width: 500px;
            margin: 0px 50px 0px 750px;
        }
        .navbar-nav {
            font-size: 1.3rem;
                                  
            .nav-item {
                padding: 0px 20px;
                .nav-link {
                    width: 100%;
                    padding: 0px 0px;
                }
                .link-padding {
                    padding: 20px 0px 0px;
                }
            }
            img {
                width: 20px; 
                padding: 20px 0px;
            }
        }
        .navbar-link {
            padding: 0px;
        }
        .info {
            .presentacionPancito {
                display: grid;   
                gap: 5px;
                grid-template-areas: 
                    "logo presentacion"
                    "h1 presentacion"
                    "h1 a";
                    
                .logo {  
                    grid-area: logo;
                    width: 350px;                  
                    margin: 250px 20px 80px 300px;
                    img {
                        width: 350px;
                    }
                }
                h1 {
                    grid-area: h1;
                    margin: 30px 0px 20px 300px;                  
                    font-size: 7em;
                    line-height: 1;
                    text-align: left;
                    .saltoLinea {
                        display: block;
                        width: 350px;
                        padding: 15px 0px;
                    }
                }
                .presentacion {
                    grid-area: presentacion;
                    width: 450px;
                    margin: 770px 0px 50px 15px;
                    padding: 0px 30px 0px 0px;
                    font-size: 2.3em;
                    line-height: 1.8;
                } 
                .escribinos {
                    grid-area: a;
                    width: 150px;
                    height: 50px;
                    padding: 17px 30px;
                    margin: 10px 0px 0px 15px;
                }
                
            }
            .informacionPancito {
                .gradient1 {
                    margin: 50px 0px 0px 0px;
                    padding: 0px;
                    width: 100%;
                    height: 50px;
                    background: linear-gradient(to top right, #0000FF 50%, #ffff 50%);
                }  
                .avisoConstruccion {
                    margin: 0px;
                    height: 450px;
                    padding: 80px 150px;
                    text-align: center;
                    font-size: 2em;
                    line-height: 2;
                    .salto-linea {
                        display: block;
                    }
                }
                .gradient2{
                    width: 100%;
                    height: 50px;
                    background: linear-gradient(to bottom left, #0000FF 50%, #ffff 50%);
                }
                .container {
                    padding: 0px;
                    display: flex;
                    justify-content: flex-start;
                    margin: 80px 0px 10px 300px;
                    .encabezado {
                        text-align: left;
                        font-size: 2.5em;
                        margin-bottom: -10px;
                    }
                    .form-group {
                        width: 350px;
                    }
                    .btn {
                        padding: 15px;
                    }
                }

            }

        }    
    } 
    .gradient1 {
        margin: 20px 0px 0px 0px;
        width: 100%;
        height: 50px;
        background: linear-gradient(to top right, #0000FF 50%, #ffff 50%);
    } 
    .footer {  
        display: flex;
        justify-content: space-between;
        height: 130px;
        margin-top: 130px;    
        padding: 30px 30px 0px;
        .footerInfo {
            margin-left: 65px;
        }
        .footerDireccion {
            text-align: right;
            margin-right: 90px;
        }
        p {
            font-size: 1.3em;
            margin-bottom: 5px;
        }
        .tituloFooter {
            font-size: 1.5em;
            font-weight: 500;
        }
        
    }
}           