*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    overflow-x: hidden
}

@import "responsive";

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    a:link, a:visited, a:active {
        text-decoration: none;
    }
    .navbar {        
        background-color: #0000ff;
        .container-fluid {
            height: 100%;
            .navbar-brand {
                color: white;
                font-weight: 700;
            }
        }      
    }
    .info {
        .logo{
            width: 100%;
            display: flex;
            justify-content:flex-start;
        }
        h1 {            
            text-transform: uppercase;
            font-family: 'Paytone One', sans-serif;
            .colorTitulo {
                color: #0000ff;
            }
        }
        .presentacion {
            width: 100%;
            text-align: left;
            font-family: 'Roboto', sans-serif;
        }
        a {
            background-color: black;
            padding: 15px;
            color: white;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            letter-spacing: 0.3em;
        }
        a:hover {
            background-color: #0000ff;
            color: white;
        }
        .avisoConstruccion {
            background-color: #0000ff;
            color: white;
            width: 100%;
            text-transform: uppercase;
            text-align: left;
            font-family: 'Roboto', sans-serif;
        }
        .container {
            display: flex;
            justify-content: center;
                .encabezado {
                    font-family: 'Roboto', sans-serif;
                    text-transform: uppercase;
                    font-size: 2em;
                    font-weight: 700;
                    color: #0000ff;
                }
                .btn-primary {
                    background-color: #0000ff;
                    color: white;
                    font-weight: 700;
                    border: none;
                    
                }
                .form-group { 
                    padding: 15px 0px;
                }

        }
        
    }
    .footer {
        display: flex;
        justify-content: space-around;
        background-color: #0000ff;
        color: white;
        height: 70px;
    }
    .wasap {
        position: fixed;
        bottom: 15px;
        right: 15px;
    }
}