*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    overflow-x: hidden
}

@import "responsive";

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    a:link, a:visited, a:active {
        text-decoration: none;
    }
    .navbar { /*navbar*/
        width: 100%;
        background-color: #0000ff;
        .navbar-brand {
            font-weight: 700;
        }
        .navbar-nav {            
            text-transform: uppercase;
            .nav-link {
                width: 100%;
                color: #ffffff;
                font-weight: 700;                
            }
        }        
    }

    .info {
        display: block;
        .presentacionPancito {
            h1 {       
                height: 100%;     
                text-transform: uppercase;
                font-family: 'Paytone One', sans-serif;
                .colorTitulo {
                    color: #0000ff;
                }
            }
            .presentacion {
                text-align: left;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }
            a {
                background-color: black;
                color: white;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                letter-spacing: 0.3em;
            }
            a:hover {
                background-color: #0000ff;
                color: white;
            }
        }
        .informacionPancito {            
            background-color: #0000ff;            
            transform: skewY(-10deg);            
            overflow: hidden;
            .avisoConstruccion {
                transform-origin: 0 0;
                transform: skewY(10deg);                
                color: white;
                
                font-family: 'Roboto', sans-serif;
                .avisoTamaño {
                    font-size: 1.4em;
                    font-weight: 700;
                }
            }
            .container {                
                transform: skewY(10deg);
                    .encabezado {
                        font-family: 'Roboto', sans-serif;
                        text-transform: uppercase;                        
                        font-weight: 700;
                        color: #ffffff;
                    }
                    .tituloFormulario {
                        color: #ffffff;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.2em;
                        letter-spacing: 0.2em;
                        margin-bottom: 5px;
                    }

                    .btn {
                        background-color: #000000;
                        color: white;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                        letter-spacing: 0.3em;
                        border-style: none;
                        border-radius: 0%;
                        
                    }
                    .btn:hover {
                        background-color: #0000ff;
                        color: #ffffff;
                    }
                    .form-group { 
                        padding: 15px 0px 0px;
                        .form-control {
                            border: 2px solid #0000ff;
                            letter-spacing: 0.2em;
                        }
                        .form-control:hover {
                            border: 2px solid #0000ff; 
                        }
                        .msj {
                            height: 115px;
                        }
                    }
    
            }
        }

        
        
    }

    
    .swal-title {
        font-family: 'Roboto', sans-serif ;
        color: #0000ff;
        font-weight: 700;
        
    }
    .swal-text {
        width: 100%;
        font-family: 'Roboto', sans-serif ;
        text-align: center;
      }
      .swal-button-container {
        display: flex;
        justify-content: center;
        
        
    }
    .swal-button {
        background-color: #0000ff;
        color: #ffffff;
        font-weight: 700;        
    }

    .footer {
        background-color: #ffffff;
        color: #0000ff;
    }

    .wasap {
        position: fixed;
        bottom: 15px;
        right: 15px;
    }
}